node_modules
.pnp
.pnp.js
coverage
build
android/app/build
ios/build
*.xcodeproj
*.xcworkspace
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
logs
*.log
.cache
.temp
metro-cache
.firebase
firebase-debug.log
*.tmp
*.temp
dist
.dockerignore
Dockerfile
docker-compose.yml
